.black {
	text-align:center;
	background-color:black;
}
.white {
	background-color:white;
}

.background-color {
	background-color:#ededed;
}

.angular-with-newlines {
	white-space: pre-wrap;
	background-color: white;
	font-family: inherit;
}

.clickable {
   cursor: pointer;
}